{{#each songs}}
	<div>
		<div>
			<h3>{{title}}</h3>
			Performed by {{artist}} on the album {{album}} <input type="button" id="{{@key}}" class="edit-button" value="Edit"><input type="button" id="{{@key}}" class="delete-button" value="Delete">
		</div>
	</div>
{{/each}}
